In [ ]:
import numpy as np
import pandas as pd

비어있는 DF

In [10]:

df_빈 = pd.DataFrame() #
df_빈

Empty DataFrame
Columns: []
Index: []

임의의 값 활용

In [9]:
df_임의 = pd.DataFrame(
    {
        'col1':[0,1,2,3,4],
        'col2':['a','b','c','d','e']
        }
    )
df_임의

   col1 col2
0     0    a
1     1    b
2     2    c
3     3    d
4     4    e

생성된 list 활용

In [8]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
df_list = pd.DataFrame({'col1':list1, 'col2':list2})
df_list

   col1 col2
0     1    a
1     2    b
2     3    c
3     4    d